.color-linear-yellow {
    background-color: rgb(255,224,180);
    background-image: linear-gradient(180deg,rgb(255,224,180),rgb(255,255,255));
}

.box {
    width: 200px;
    margin: 50px auto;
    padding: 0 0 20px 0;
    border: 1px solid rgb(233,115,40);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

.box > hr {
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(233,115,40);
}

.title {
    margin: 0 auto;
    padding: 20px 0 10px 0;
    font-size: 18px;
    color: rgb(233,115,40);
}

.list {

}

.list > li {
    margin-top: 10px;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}