span {
    display: block;
}

.container {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.cover {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.item {
    margin-bottom: 30px;
}

.item-icon {
    display: block;
    margin-bottom: 30px;
}

.item-content {
    margin-bottom: 30px;
    font-size: 13px;
}