.container {
    width: 400px;
}

.header {
    height: 32px;
    padding-left: 20px;
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    color: white;
    background-color: rgb(81,135,0);
}

.icon-bang {
    position: relative;
}

.icon-bang:before {
    content: url(../img/ex_9_bang.gif);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

