.container {
    width: 1003px;
    margin: 0 auto;
    margin-top: 30px;
}

.header {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 780px;
    height: 100px;
    line-height: 100px;

}

.logo > img {
    vertical-align: middle;
}

.setting {
    height: 100px;
    margin-left: 780px;
    padding-top: 8px;
    box-sizing: border-box;
}

.platforms {
    display: flex;
    margin-bottom: 4px;
    padding-right: 4px;
    justify-content: flex-end;
}

.platforms > span {
    width: 60px;
    height: 20px;
    margin-right: 5px;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff1eb;
}

.tel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 12px;
    padding-right: 4px;
}

.tel > .tel-number {
    display: inline-block;
    height: 26px;
    margin-left: 10px;
    line-height: 26px;
    font-size: 18px;
    color: #8b8b8b;
}

.icon-tel {
    display: inline-block;
    width: 30px;
    height: 26px;
    font-style: normal;
    background-image: url(../img/ex_4_tel.png);
}

.search {
    display: flex;
}

.search > input {
    width: 180px;
    height: 26px;
    padding-left: 5px;
    outline: none;
    border: none;
    background-color: #e9f3ff;
}

.search > .search-btn {
    width: 30px;
    height: 26px;
    border: none;
    background-color: #cd3700;
    background-image: url(../img/ex_4_s_btn.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
}

.nav {
    padding: 0 76px;
    margin-bottom: 10px;
    background-color: #cd3700;
}

.nav > ul {
    display: flex;
    justify-content: space-between;
}

.nav > ul > li {
    width: 80px;
    height: 50px;
}

.nav > ul > li >a {
    display: block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.nav > ul > li > a:hover {
    background-color: #da4c04;
}

.cover {
    height: 300px;
    margin-bottom: 5px;
}

.message {
    display: flex;
    align-items: center;
}

.message > marquee {
    width: 150px;
    margin-left: 10px;
    font-size: 10px;
}

.icon-message {
    display: inline-block;
    width: 17px;
    height: 13px;
    font-style: normal;
    background-image: url(../img/ex_4_icon1.png);
}